@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');
body{
  background-image:url(./images/weather1.jpg);
}
h1{
  font-size: large;
  font-family:'Blaka Ink', cursive;
  color: rgb(245, 16, 16);
  font-weight: bold;
}
/* .s1{

  background-color: aquamarine;
} */
.s2{
  text-align: center;
}